*.psd filter=lfs diff=lfs merge=lfs -crlf
*.png filter=lfs diff=lfs merge=lfs -crlf
*.jpg filter=lfs diff=lfs merge=lfs -crlf
*.zip filter=lfs diff=lfs merge=lfs -crlf
*.sketch filter=lfs diff=lfs merge=lfs -crlf
*.mov filter=lfs diff=lfs merge=lfs -crlf
